# Ignore virtual environment
venv/
.venv/
env/
.vscode/
# Ignorar todos los archivos dentro de 'migrations'
**/migrations/*



# No ignorar estos archivos específicos
!**/migrations/__init__.py
!**/migrations/__pycache__/
__pycache__/
*.pyc


# Ignore database
api/db.sqlite3

# Ignorar cualquier archivo ZIP o RAR en cualquier carpeta
*.zip
*.rar