# Ignore virtual environment
venv/
.venv/
env/

# Ignore Django migration files
*.pyc
*.pyo
__pycache__/
*.log

**/migrations/

# Ignore database
api/db.sqlite3

# Ignorar cualquier archivo ZIP o RAR en cualquier carpeta
*.zip
*.rar
